body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-flow: column wrap;
    margin: 20px;
  }

img {
    width: 150px;
    height: auto;
    margin: 20px 30px;
    
}

.bg {
    background-image: url("img/pokedex.jpeg");
    background-size: cover;
}

.error-message {
    margin-top: 5px;
    color: red;
}