/* 
 * TODO: Images sizes should be relative to the
 * original heights of the sprites
 */
 
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-flow: column wrap;
    margin: 20px;
  }

img {
    transform: scale(3.0, 3.0);
    margin: 90px 80px;
}

.bg {
    background-image: url("img/pokedex.jpeg");
    background-size: cover;
}

.error-message {
    text-shadow: -1px 1px 0 #000,
                 1px 1px 0 #000,
                 1px -1px 0 #000,
                 -1px -1px 0 #000;
    margin-top: 5px;
    color: rgb(219, 100, 100);
}