/* TODO: Make text be centered under circle  */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-flow: column wrap;
  }

.form-container {
    z-index: 999;
    margin: 20px;
}
#pic { 
    transform: scale(1.75, 1.75);
    margin-left: 80px;
    margin-top: 120px;
    margin-bottom: 25px;
    border: 2px solid black;
    border-radius: 50%;
    background: rgb(248, 213, 213);
}

.image-container {
    position: absolute;
    border-radius: 50%;
}

#pokemon-name {
    margin-top: 15px;
    margin-left: 90px;
    text-align: center;
    position: absolute;
}
.bg {
    background-image: url("img/pokedex.jpeg");
    background-size: cover;
}

.error-message {
    text-shadow: -1px 1px 0 #000,
                 1px 1px 0 #000,
                 1px -1px 0 #000,
                 -1px -1px 0 #000;
    margin-top: 5px;
    color: rgb(219, 100, 100);
}